.battle-root {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.battle-content {
  display: flex;
  justify-content: space-around;
}

.battle-title {
  display: flex;
  justify-content: center;
}

.round-result {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
